@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 40px;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 2rem;
}

.container {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 430px;
    border: 2px solid;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    transition: 0.3s ease-in;

}

.box:hover {
    transform: translateY(-8px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.box h1 {
    font-size: 2.5rem;
}

.box p {
    line-height: 1.6;
    font-size: 1rem;
    max-width: 860px;
}

.pricing {
    font-size: 1.4rem;
}