@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.header {
    text-align: center;
    font-size: 2.4rem;
    font-family: Poppins, "sans-serif";
    font-weight: 800;
    color: white;
    margin: 28px;
}

body {
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    color: white;
    display: flex;
    padding: 40px;
    border: 2px solid rgb(176, 173, 173);
    min-width: 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.form:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(173, 255, 47, 0.15);
}

.form label {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin-bottom: 6px;
}

.form input {
    font-family: Poppins, sans-serif;
    padding: 4px;
    border-radius: 6px;
    margin-top: 15px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #111;
    color: white;
}

input:focus {
    border: 1px solid greenyellow;
    box-shadow: 0 0 10px rgba(173, 255, 47, 0.2);
}

/* input:hover {
    background-color: hsl(84, 100%, 39%);
} */

.btn {
    font-size: 1.2rem;
    border-radius: 16px;
    border: none;
    background-color: hsl(84, 100%, 59%);
    padding: 12px;
    font-weight: 600;
}


.btn:hover {
    background-color: hsl(84, 100%, 39%);
}